.App {
  text-align: center;
  flex: column;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}
